test/hummer_redistribution/output/*.dat
test/*/*.o
test/*/*.log
src/*.c
test/forcefac_vs_rad/output/*
test/hydro_1e4/energy_profiles.mp4
test/hydro_1e4/radial_profiles.mp4
test/hydro_1e4/*.dbl
test/hydro_1e4/*.out
test/hydro_1e4/pluto